* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.flex {
  display: flex;
  justify-content: center;
  flex-direction: row;
}
.container {
  width: 100%;
  margin: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
}
.heading {
  background-color: #92c7cf;
  padding-bottom: 8px;
}
h1 {
  font-family: "Lobster Two";
  font-size: 5rem;
  padding-top: 50px;
  text-shadow: 5px 0 #232931;
}
h2 {
  font-family: Indie Flower;
  padding-top: 20px;
  font-size: 3rem;
  text-shadow: 5px 0 #232931;
}
.para-div {
  background-color: #aad7d9;
  padding-bottom: 25px;
  padding-top: 21px;
}
p.player-one {
  font-family: Indie Flower;
  font-size: 2rem;
  text-shadow: 5px 0 #232931;
}
p.player-two {
  font-family: "Indie Flower", cursive;
  font-size: 2rem;
  padding-left: 5rem;
  text-shadow: 5px 0 #232931;
}
.img-class {
  background-color: #fbf9f1;
  padding-bottom: 42px;
  padding-top: 54px;
}
.player-img {
  width: 180px;
  height: 166px;
  padding: 5px;
}
footer {
  font-family: "Indie Flower";
  color: #eeeeee;
  justify-content: center;
  text-shadow: 0 0 5px #ffff;
  padding-top: 12px;
}
